{{ if eq .chezmoi.osRelease.idLike "arch" -}}
#!/bin/sh

yay -S --needed \
    {{ range .packages.common -}} {{ . | quote }} {{ end -}} \
    {{ range .packages.arch -}} {{ . | quote }} {{ end -}}

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

yay -S --needed \
    {{ range .packages.common -}} {{ . | quote }} {{ end -}} \
    {{ range .packages.darwin -}} {{ . | quote }} {{ end -}}

{{ end -}}
