[data]
  name = "Aaron Edwards"
  email = "edwards.aaronmark@gmail.com"
  git_username = "aaron-edwards"

  packages = [
    { aur = "asdf-vm", brew = "asdf" },
    "eza",
    "fd",
    "fzf",
    "neovim",
    "gh",
    { aur = "ghostty", cask = "ghostty" },
    "ripgrep",
    "jq",
    { aur = "wl-clipboard" }, 
    "zoxide",
    "zsh",
    { aur = "zsh-antidote", brew = "antidote" },
    { aur = "otf-monaspace-nerd", brew = "font-monaspace-nerd-font" }
  ]

