{{- $machineType := promptChoiceOnce . "machine_type" "Machine type" (list "personal" "work") "personal" -}}
{{- $email := "edwards.aaronmark@gmail.com" -}}
{{- $gitUsername := "aaron-edwards" -}}
{{- if eq $machineType "work" -}}
{{-   $email = promptStringOnce . "email" "Work email" $email -}}
{{-   $gitUsername = promptStringOnce . "git_username" "Git username" $gitUsername -}}
{{- end -}}

[data]
  name = "Aaron Edwards"
  email = {{ $email | quote }}
  git_username = {{ $gitUsername | quote }}
  machine_type = {{ $machineType | quote }}

  packages = [
    { aur = "asdf-vm", brew = "asdf" },
    "bitwarden-cli",
    "eza",
    "fd",
    "fzf",
    "neovim",
    "gh",
    { aur = "ghostty", cask = "ghostty" },
    "ripgrep",
    "jq",
    { aur = "wl-clipboard" }, 
    "zoxide",
    "zsh",
    { aur = "zsh-antidote", brew = "antidote" },
    { aur = "otf-monaspace-nerd", brew = "font-monaspace-nerd-font" }
  ]

