import = ["~/.config/alacritty/themes/light.toml"]

[font]
size = 14

{{ if eq .chezmoi.os "darwin" -}}
[font.normal]
family = "MonaspiceAr Nerd Font Propo"
style = "Regular"

[shell]
program = "/opt/homebrew/bin/tmux"
args = ["new-session", "-A", "-s", "work"]

{{ else if eq .chezmoi.os "linux" -}}

[font.normal]
family = "MonaspiceAr NFM"
style = "Regular"

[shell]
program = "/usr/bin/tmux"
args = ["new-session", "-A", "-s", "main"]

{{ end -}}